body {
  background-color: #282828 !important;
  width: 384px !important;
}

.main-container {
  color: #1DB954;
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
}

.whitesmoke {
  color: whitesmoke
}

.header {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-separator {
  height: 1px;
  background-color: whitesmoke;
  margin: 0px !important;
}

.main-title {
  font-weight: bold;
  color: whitesmoke;
  font-size: 28px;
}

.secondary-title {
  font-size: 20px;
  color: whitesmoke;
}

#empty-view {
  display: none;
}
