#player-view {
  display: none;
}

.music-container {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 24px;
}

.music-img {
  width: 100%;
}

.music-title {
  margin-top: 12px;
  font-size: 16px;
}

.music-artist {
  font-size: 12px;
}

#timeline {
  margin-left: 2%;
  width: 94%;
  height: 6px;
  margin-top: 32px;
  float: left;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background:whitesmoke; 
  cursor: pointer;

}

#playhead {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: -8px;
  background: #1DB954;
  cursor: pointer; 
  transform: translateX(-50%);
}

.timing {
  display: inline-block;
  font-size: 8px;
  margin-top: 14px;
  color: whitesmoke;
}

#current-time {
  margin-left: 2px;
}

#total-time {
  margin-left: 83%;
}

#timing-container {
  margin-bottom: 32px;
}

#player-buttons-container {
  margin-bottom: 36px;
}

.player-buttons{
  text-align: center;
}

#previous-button {
  padding-top: 16px;
  cursor: pointer;
}

#next-button {
  padding-top: 16px;
  cursor: pointer;
}

#play-pause-button {
  cursor: pointer;
}
